
body {
  font-family: tahoma;
  font-size: 13px;
  width: 1200px;
  margin:  0 auto;
}
#menu{
  height: 250px;
  background: bisque;
}
#main{
  margin-top: 10px;
}
#main #left{
  background: red;
  width: 900px;
  min-height: 500px;
  float: left;
}
#main #right{
  background: powderblue;
  width: 300px;
  min-height: 500px;
  float: left;
}
#footer{
  background: black;
  width: 1200px;
  height: 70px;
  clear: left;
}
#menu {
  display: flex;
  flex-direction: column;
}
#menu .menu-top{
  display: flex;
  flex-direction: row;
}

#menu .menu-top .menu-main {
  display: flex;
  justify-content: end;
  padding: 0px 20px 0px 20px;
}
#menu .menu-top .menu-main a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
#menu .menu-top .menu-main a:hover{
  color:green;
}
/*===========dich vu=========*/
#menu .menu-top .menu-main .dv .dich-vu{
  display: flex;
  flex-direction: column;
}
#menu .menu-top .menu-main .dv .dich-vu{
  display: none;
}
#menu .menu-top .menu-main .dv:hover .dich-vu{
  display: block;
}
/*==========bang gia==========*/
#menu .menu-top .menu-main .bg .bang-gia{
  display: none;
}
#menu .menu-top .menu-main .bg:hover .bang-gia{
  display: block;
}









