body{
  font-family: tahoma;
  font-size: 20px;
}
#menu{
  display: flex;
  flex-direction: row;
  justify-content:start;
  background: green;
  width: 1000px;
}
#menu a{
  text-decoration: none;
  color:white;
  width: auto;
  height: 60px;
  line-height: 40px;
  border-right: 2px solid black;

}
